<% if flash[:notice] %>
	<div class="alert alert-info">
		<button type="button" class="close">
			&times;
		</button>
		<%= notice %>
	</div>
<% end %>

<% if flash[:alert] %>
	<div class="alert alert-danger">
		<button type="button" class="close">
			&times;
		</button>
		<%= flash[:alert] %>
	</div>
<% end %>