<!-- Footer -->
    <footer class="m-t-30">
        <div class="container">
            <ul class="list-inline">
                <li class="list-inline-item">
                    
                </li>
                <li class="footer-menu-divider list-inline-item"></li>
                <li class="list-inline-item">
                    
                </li>
                <li class="footer-menu-divider list-inline-item"></li>
                <li class="list-inline-item">
                    
                </li>
                <li class="footer-menu-divider list-inline-item"></li>
                <li class="list-inline-item">
                    
                </li>
                <li class="footer-menu-divider list-inline-item"></li>
                <li class="list-inline-item">
                    
                </li>
            </ul>
            <p class="copyright text-muted small text-center">
              &copy; 2017. Crafted by <a href="https://polymathwhiz.github.io" target="_blank"><b>PolymathWhiz</b></a>
            </p>
        </div>
    </footer>